@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'Mojito-in-June';
    src: url('../../../fonts/Mojito\ in\ June.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 100%; // default navegadores 16px
}
